@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/* .fl {
  font-family: 'Fredericka the Great';
  font-size: 1000%;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0.7em;
  float: left;
} */
.car-i{
  width:80vw;
  text-align: center;
  padding-bottom: 20px;
  margin:50px auto;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; */
}

.ind{
  background-color:#4B515D;
  border-radius:100px;
  width:70px;
  margin:20px auto 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.b-r {
  border-radius: 100px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  height: 35px;
  width: 35px;
  text-align: center;
  vertical-align: middle;
  padding-top: 6px;
}

.card-img-top {
  height: 100%
}

.push-d {
  margin-top: 10vw
}

.card-zoom {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear
}

.car-i {}

.btn {
  border: 1px solid #4B515D;
  background-color: #4B515D;
  color: white;
}

.btn:hover {
  border: 1px solid #2E2E2E;
  background: #2E2E2E;
  color: white;
}

.rad-i {
  border-radius: 10px 0 0 10px;
}

.rad-c {
  border-radius: 10px;
}

.card-hover {
  /* border: 1px solid #A5A5A5; */
  box-shadow: 1px 1px 5px #A5A5A5;
  /* box-shadow: none; */
}

.card-hover:hover {
  border: 0;
  box-shadow: 2px 4px 30px #C7C7C7;
  /* background-color: #eee; */
}

.card {
  margin: 50px auto;
}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {

  html,
  body,
  header,
    {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #4B515D !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 600px) {
  .navbar:not(.top-nav-collapse) {
    background: #4B515D !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.mdb-color {
  background-color: #4B515D !important;
}
