/* #A1DCE4 */
/* @import url('https://db.onlinewebfonts.com/c/d08a067b981040590322dd2495d05893?family=Alcubierre'); */
/* @import url('https://db.onlinewebfonts.com/c/d9a58a393d946d86051fbd9a0b594d2f?family=Audrey'); */
/* @import url('https://db.onlinewebfonts.com/c/5b2384cf9c701d542008dfe9c848d9d6?family=Qanelas'); */
/* @import url('https://db.onlinewebfonts.com/c/a53690a73d2d3412397f67599a920166?family=DualW00-300'); */
/* .logo{
  "max-height:70px !important;
} */

h1,h2,h3,h4,h4,h5,h6 {
  font-family: 'DualW00-300', sans-serif !important;
}
/* .video-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
} */

video {

 object-fit: cover;
 max-height: 100vh;
 min-height: 100%;
 min-width: 100vw !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.car-i{
  width:80vw;
  text-align: center;
  padding-bottom: 20px;
  margin:50px auto;
}
.sec{
  margin:10vw auto;
}
.ind{
  background-color:#4B515D !important;
}
.b-r {
  border-radius: 100px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  height: 35px;
  width: 35px;
  text-align: center;
  vertical-align: middle;
  padding-top: 6px;
}

.card-img-top {
  height: 100%
}

/* .push-d {
  position: absolute;
  top: 40%;
  left: 40%;

margin-top: 0;
  transform: translateY(95%);
} */

.card-zoom {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear
}

.btn {
  border: 1px solid #4B515D;
  background-color: #4B515D;
  color: white;
}

.btn:hover {
  border: 1px solid #2E2E2E;
  background: #2E2E2E;
  color: white;
}
.rad-t {
  border-radius: 10px 10px 0 0;
}

.rad-i {
  border-radius: 10px 0 0 10px;
}

.rad-c {
  border-radius: 10px;
}

.card-hover {
  box-shadow: 1px 1px 5px #A5A5A5;
}

.card-hover:hover {
  border: 0;
  box-shadow: 2px 4px 60px #C7C7C7;
}

.card {
  margin: 50px auto;
}
.b-r {
    border-radius: 100px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    height: 35px;
    width: 35px;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}

/*
.push-d {
    margin-top: 10vw
} */

.card-zoom {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

.btn {
    border: 1px solid #4B515D;
    background-color: #4B515D;
    color: white;
}

.btn:hover {
    border: 1px solid #2E2E2E;
    background: #2E2E2E;
    color: white;
}

.card-hover {
  box-shadow: 1px 1px 5px #A5A5A5;
}

.card-hover:hover {
    box-shadow: 2px 4px 25px #C7C7C7;
    /* background-color: #eee; */
}

.card {
    margin: 50px auto;
}

.page-footer{
   background-color:#4B515D !important;
}
html,
body,
header,
.view
 {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
 {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #4B515D !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 600px) {
  .navbar:not(.top-nav-collapse) {
    background: #4B515D !important;
  }

  /* .push-d {
      margin-top: 30vh;
  } */
  .logo{
    "max-height:30px !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
